/* body {
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.nav {
  background-color: #E2987B;
  height: 40px;
}

.nav-component {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 11px;
  transition: .5s;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.welcome-text {
  margin-top: 190px;
  margin-right: 400px;
  text-align: center;
  color: #E2987B;
  font-size: 24px;
  font-family: 'Raleway';
}

.about-paragraph {
  font-size: 24px;
  color: #E2987B;
  font-weight: bold;
  text-align: center;
}

.contact-title {
  margin-top: 130px;
  margin-right: 435px;
  font-size: 36px;
  color: #E2987B;
  font-weight: bold;
  text-align: center;
}

.info-title {
  text-decoration: underline;
  margin-top: 60px;
  margin-right: 435px;
  font-size: 24px;
  color: #E2987B;
  text-align: center;
}

.info {
  margin-right: 435px;
  font-size: 20px;
  color: #E2987B;
  text-align: center;
}

.button {
  background-color: #E2987B;
  padding: 5px;
  width: 96px;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #ffffff;
  transition: .5s
}

.button:hover {
  background-color: #ffffff;
  color: #E2987B;
}

.about {
  display: inline-block;
  margin-left: 250px;
  margin-top: 200px;
}

.more-info {
  color: #525055;
  font-family: "Raleway";
} */